<div class="d-flex mt-4 gap-3">
  {{#each tasks}}
    <div class="col-md-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="d-flex justify-content-between gap-2">
            {{ title }}
            <a href="/tasks/{{_id}}/edit"><i class="bi bi-pencil-square"></i></a>
          </h4>
          <p>{{ description }}</p>
        </div>
      </div>
    </div>
   {{else}}
    <div class="card mx-auto">
      <div class="card-body d-grid">
        <p class="fs-4">There are no tasks yet.</p>
        <a href="/tasks/new" class="btn btn-primary">Create Task</a>
      </div>
    </div>
  {{/each}}
</div>