<div class="p-5 mt-4 bg-light">
  <h1 class="display-4 mb-3">About</h1>
  <p>A simple app that allow you to do a simple CRUD of your task. <a href="/users/signup">Sign up</a> to get start or <a href="/users/signin">sign in</a> if you have an account.</p>
  <h3>Technologies</h3>
  <ul>
    <li>NodeJS</li>
    <li>ExpressJS</li>
    <li>MongoDB</li>
  </ul>
</div>