<div class="p-5 mt-4 bg-light">
  <h1 class="display-4">Task App NodeJs and Mongodb</h1>
  <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, expedita dignissimos dolore officiis consequuntur quos rem fugit laudantium inventore doloremque beatae in ducimus, excepturi nam nostrum modi velit? Placeat impedit dolorem, ullam suscipit quae dolores, amet porro laudantium natus odio quibusdam reiciendis debitis necessitatibus sequi doloremque sint voluptates iure nisi?</p>
</div>