<div class="row">
  <div class="col-md-4 mx-auto mt-4">
    <div class="card">
      <div class="card-header">
        <h3>
          Create Account
        </h3>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="mb-3">
            <input type="text" name="name" class="form-control" placeholder="Name" value="{{name}}">
          </div>
          <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}">
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}">
          </div>
          <div class="mb-3">
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" value="{{confirm_password}}">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>