<div class="row">
  <div class="col-md-4 mx-auto mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Account Login</h3>
      </div>
      <form action="">
        <div class="card-body">
          <div class="mb-3">
            <input type="text" name="email" placeholder="Emial" class="form-control">
          </div>
          <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              Sign in
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>